<html>
<head>

</head>
<body>


<p><strong>Company Intro:</strong> {{@POST.company_intro}}</p>
<p><strong>Work Hours and Days:</strong> {{@POST.work_hrs_days}}</p>
<p><strong>Pay Frequency:</strong> {{@POST.pay_freq}}</p>
<p><strong>Paid Holidays:</strong> {{@POST.paid_holidays}}</p>
<p><strong>Vacation and Sick Days:</strong> {{@POST.vaca_sick_qty}}</p>
<p><strong>Separate vacation/Sick time:</strong> {{@POST.combine_pto}}</p>
<p><strong>Vacation Process: </strong>{{@POST.vaca_approval}}</p>
<p><strong>Maternity Leave Time:</strong> {{@POST.maternity_leave_time}}</p>
<p><strong>Maternity Leave Pay:</strong> {{@POST.maternity_leave}}</p>
<p><strong>Workers Compensation:</strong> {{@POST.workers_comp}}</p>
<p><strong>Bereavement:</strong> {{@POST.bereavement_time}}</p>
<p><strong>Other Comments:</strong> {{@POST.other_comments}}</p>

</body>
</html>