<html>
    <head>
        <title>HR Laws You did'nt know you needed.</title>
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" />
    </head>
    <body>
        <div style="font-family: 'Lato', sans-serif; width: 750px; margin: 0 auto;">
            <div style="background-color: #0071BC; padding: 10px;color: #FFFFFF">
                <img style="float: right;" src="cavnesshr.greenrivertech.net/app/views/images/logo_trans_white.png" alt="cavnessHR Logo">
                <h2>HR Laws for Small Businesses</h2>
                </div>

            <p style="color: #0b4770;padding: 10px;">Many small companies and startups miss key HR laws because they aren’t informed. Not being aware of these laws could put the company in violation of state and federal law.</p>


            <p style="background-color: #0071BC; padding: 10px;color: #FFFFFF"><strong>If you have at least 1 employee, the following HR laws apply to you.</strong></p>
            <div style="margin-top: 10px; margin-bottom: 15px; background-color: darkorange; width: inherit; height: 1px;"><br></div>
            <div style="width: 725px; margin: 0 auto;color: #0b4770;">
            <p><a href="https://webapps.dol.gov/elaws/asp/drugfree/require.htm">Drug-Free Workplace Act:</a> Requires employers make an ongoing effort to maintain a drug-free workplace.</p>

            <p><a href="https://it.ojp.gov/privacyliberty/authorities/statutes/1285">Electronic Communications Privacy Act (ECPA):</a>) Prohibits intentional interceptions of wire, oral, or electronic communications.</p>

            <p><a href="https://www.dol.gov/whd/polygraph/">Employee Polygraph Protection Act:</a> Forbids most employers to use lie detectors. Poster required.</p>

            <p><a href="https://www.dol.gov/general/topic/retirement/erisa">Employee Retirement Income Security Act (ERISA):</a> Regulates benefits through a complex series of rules covering pensions, profit-sharing, stock bonus, and most insurance and other benefit plans.</p>

            <p><a href="https://www.dol.gov/oasam/doljobs/SpecialHiringAuthorities.htm">Veterans Employment Opportunities Act:</a> Requires that federal government contractors and subcontractors make special efforts to employ and promote specific types of veterans. </p>

            <p><a href="https://www.dol.gov/vets/programs/userra/userra_fs.htm">Military Leave/Uniformed Services Employment and Reemployment Rights Act (USERRA) of 1994:</a> Prohibits discrimination against those who serve in the military; mandates military leave of absence. </p>

            <p><a href="https://www.osha.gov/Publications/osha3111.html">Employee Right to Know Laws (Hazardous Chemicals in Workplace):</a> A disclosure rule that requires private sector employers with hazardous substances in their workplace to develop a comprehensive hazard communication program to train and inform employees.</p>

            <p><a href="https://www.nlrb.gov/resources/national-labor-relations-act">National Labor Relations Act (NLRA:</a> Employees have the right to organize and bargain collectively for wages, hours, and working conditions.</p>

            <p><a href="https://webapps.dol.gov/elaws/elg/osha.htm">Occupational Safety and Health Act (OSHA):</a> Employers must furnish a workplace that is free from recognized hazards. Poster required.</p>

            <p><a href="https://www.eeoc.gov/laws/statutes/epa.cfm">Equal Pay Act (EPA):</a> Forbids discrimination in pay on the basis of gender. Poster required.</p>

            <p><a href="https://www.dol.gov/whd/flsa/">Fair Labor Standards Act (FLSA):</a> Regulates the payment of minimum wages and overtime. Poster required.</p>

            <p><a href="https://www.uscis.gov/tools/glossary/immigration-reform-and-control-act-1986-irca">Immigration Reform and Control Act (IRCA):</a> Employers must verify that workers are legally entitled to work in the United States.</p>

            <p><a href="https://www.irs.gov/individuals/international-taxpayers/federal-income-tax-withholding">Federal Income Tax Withholding:</a> Employers are required to make deductions from employees' pay, for Social Security.</p>

            <p><a href="https://www.dol.gov/agencies/ebsa/about/our-activities/resource-center/fact-sheets/hippa">Health Insurance Portability and Accountability Act (HIPAA):</a> Limits the duration of preexisting condition exclusion in group health plans and gives new enrollees credit for prior coverage. </p>
            </div>


            <br>
            <p style="background-color: #0071BC; padding: 10px;color: #FFFFFF"><strong>If you have at least 15 employees, the following HR laws apply to you.</strong></p>

            <div style="margin-top: 10px; margin-bottom: 15px; background-color: darkorange; width: inherit; height: 1px;"><br></div>

            <div style="width: 725px; margin: 0 auto;color: #0b4770;">
                <p><a href="https://www.dol.gov/general/topic/disability/ada">Americans with Disabilities Act (ADA):</a> Forbids discrimination against the disabled.</p>

                <p><a href="https://www.eeoc.gov/laws/statutes/pregnancy.cfm">Pregnancy Discrimination Act (PDA):</a> Forbids discrimination on the basis of pregnancy, childbirth, or related medical conditions.</p>

                <p><a href="https://www.eeoc.gov/laws/statutes/titlevii.cfm">Title VII of the Civil Rights Act of 1964:</a> Prohibits discrimination on the basis of race, color, religion, sex, and national origin.</p>
            </div>

            <br>
            <p style="background-color: #0071BC; padding: 10px;color: #FFFFFF"><strong>If you have at least 20 employees, the following HR laws apply to you.</strong></p>

            <div style="margin-top: 10px; margin-bottom: 15px; background-color: darkorange; width: inherit; height: 1px;"><br></div>

            <div style="width: 725px; margin: 0 auto;color: #0b4770;">
            <p><a href="https://www.eeoc.gov/laws/statutes/adea.cfm">Age Discrimination in Employment Act (ADEA):</a> Forbids the discrimination on the basis of age 40 and over.</p>

            <p><a href="https://www.dol.gov/general/topic/health-plans/cobra">Consolidated Omnibus Benefits Reconciliation Act (COBRA):</a> Requires that employees who lose coverage under group health plans be given a continuation option.</p>
            </div>

            <br>
            <p style="background-color: #0071BC; padding: 10px;color: #FFFFFF"><strong>If you have at least 50 employees, the following HR laws apply to you.</strong></p>

            <div style="margin-top: 10px; margin-bottom: 15px; background-color: darkorange; width: inherit; height: 1px;"><br></div>

            <div style="width: 725px; margin: 0 auto;color: #0b4770;">
            <p><a href="https://www.dol.gov/general/topic/benefits-leave/fmla">Family and Medical Leave Act (FMLA):</a> Mandates up to 12 weeks' leave in any 12-month period for certain circumstances.</p>

            <p><a href="https://www.dol.gov/general/topic/hiring/affirmativeact">Affirmative Action:</a> Requires the development of Affirmative Action Plans for employers with $50,000 or more in federal contracts.</p>

            <p><a href="https://www.healthcare.gov">Affordable Care Act (ACA):</a> ACA is a US healthcare reform law that expands and improves access to care and curbs spending through regulations and taxes.</p>
            </div>

            <br>
            <p style="background-color: #0071BC; padding: 10px;color: #FFFFFF"><strong>If you have at least 100 employees, the following HR laws apply to you.</strong></p>

            <div style="margin-top: 10px; margin-bottom: 15px; background-color: darkorange; width: inherit; height: 1px;"><br></div>

            <div style="width: 725px; margin: 0 auto;color: #0b4770;">
            <p><a href="https://www.doleta.gov/programs/factsht/warn.htm">Worker Adjustment and Retraining Notification Act (WARN):</a> Employers must notify employees of certain layoffs, shutdowns and plant closings.</p>
            </div>

        </div>
        <br>
        <div style="width: 725px; margin: 0 auto;color: #0b4770;">
        <p>Thank you for your interest in cavnessHR. We hope you find these laws helpful and informative, please visit us at <a href="cavnesshr.com">cavnesshr.com</a></p>
        </div>
            <br>
    </body>
</html>