<footer class="row footer">
    <div class="row dark_color text-center center-block">

        <div class="col-xs-4">
            <a href="https://www.facebook.com/cavnessHR" target="_blank"><i class="fa fa-facebook" style="font-size:36px; "></i></a>
        </div>

        <div class="col-xs-4">
            <a href="https://twitter.com/cavnesshr" target="_blank"><i class="fa fa-twitter" style="font-size:36px "></i></a>
        </div>

        <div class="col-xs-4">
            <a href="https://www.linkedin.com/company-beta/15204743/" target="_blank"><i class="fa fa-linkedin" style="font-size:36px"></i></a>
        </div>
    </div>
</footer>