<!--Reg Nav -->
<nav class="navbar navbar-default visible-sm-* visible-md-* visible-lg-* hidden-xs">

    <div class="container-fluid">

        <div class="">
            <a href="{{@BASE}}/" class="navbar-left logo_margin"><img src="{{@BASE}}/app/views/images/logo_trans.png" alt="cavnessHR Logo" class="nav_image_size"></a>
        </div>

        <ul class="nav navbar-nav">

            <li><a href="{{@BASE}}/" id="homelink"><h4 class="nav_font">Home</h4></a></li>
            <li><a href="{{@BASE}}/services" id="serviceslink"><h4 class="nav_font">Services</h4></a></li>
            <li><a href="https://cavnesshr.silvrback.com/" target="_blank"><h4 class="nav_font">Blog</h4></a></li>
            <li><a href="{{@BASE}}/about" id="aboutlink"><h4 class="nav_font">About Us</h4></a></li>
            <li><a href="{{@BASE}}/partners" id="partnerlink"><h4 class="nav_font">Our Partners</h4></a></li>
            <li><a href="{{@BASE}}/contact" id="contactlink"><h4 class="nav_font">Contact</h4></a></li>
            <li><a href="{{@BASE}}/sign_up" id="signup"><h4 class="nav_font">Sign Up</h4></a></li>
            <li><a href="{{@BASE}}/podcasts" id="podcastslink"><h4 class="nav_font">Podcasts</h4></a></li>
        </ul>

    </div>

</nav>

<!-- Mobile Nav -->
<nav class="navbar navbar-default visible-xs hidden-sm">

    <div class="container-fluid">

        <div class="navbar-header mobile_nav_padding">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mobile_nav">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a href="{{@BASE}}/" class="navbar-left logo_margin"><img src="{{@BASE}}/app/views/images/logo_trans.png" alt="cavnessHR Logo" class="nav_image_size"></a>

        </div>

        <div class="collapse navbar-collapse" id="mobile_nav">

            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{@BASE}}/" id="homelink"><h4 class="nav_font">Home</h4></a></li>
                <li><a href="{{@BASE}}/services" id="serviceslink"><h4 class="nav_font">Services</h4></a></li>
                <li><a href="https://cavnesshr.silvrback.com/" target="_blank"><h4 class="nav_font">Blog</h4></a></li>
                <li><a href="{{@BASE}}/about" id="aboutlink"><h4 class="nav_font">About Us</h4></a></li>
                <li><a href="{{@BASE}}/partners" id="partnerlink"><h4 class="nav_font">Our Partners</h4></a></li>
                <li><a href="{{@BASE}}/contact" id="contactlink"><h4 class="nav_font">Contact</h4></a></li>
                <li><a href="{{@BASE}}/sign_up" id="signup"><h4 class="nav_font">Sign Up</h4></a></li>
                <li><a href="{{@BASE}}/podcasts" id="podcastslink"><h4 class="nav_font">Podcasts</h4></a></li>
            </ul>

        </div>

    </div>

</nav>
