

<!-- About page -->

<!-- Row one -->
<div class="row">
    <div class="banner">
        <div class="row">
            <a href=""><img src="{{@BASE}}/app/views/images/hr_button_banner.png" class="img-responsive pull-right" alt=""></a>

        </div>
    </div>
</div>
<!-- Row two -->
<div class="row light_color">
    <div class="container-fluid">
        
        <div class="col-sm-3"></div>
        
        <div class="col-sm-6">
            <h1 class="text-center alt_font_color_dark"><strong>About cavnessHR</strong></h1>
            <br>
            <br>
            
            <h3><strong>What is cavnessHR?</strong></h3>
            <br>
            <p><strong>cavnessHR</strong> will provide value to Founders, new
            business owners and companies with less than 50 employees by assisting them with
            their HR and helping to solve other problems.
            </p>
            <br>
            
            <h3><strong>cavnessHR Philosopy</strong></h3>
            <ul><h4>Understand the supported business</h4>​</ul>
            <ul><h4>Understand what the supported business requires</h4>​</ul>
            <ul><h4>Understand the environment in which the supported business operates</h4>​</ul>
            <ul><h4>Spend time with the supported company</h4>​</ul>
            <ul><h4>Be responsive to the needs of the supported company​</h4>​</ul>
            <br>
            
            <h2 class="text-center alt_font_color_dark">cavnessHR Mission Statement</h2>
            <p>cavnessHR delivers HR to Founders, new business owners and companies with less than
            50 employees until they bring in their own dedicated HR. cavnessHR makes HR easy and
            delivers high quality HR products and services. cavnessHR adds value by taking care of
            the HR business function while continuing to maintain their own values.
            </p>
        </div>
        
        <div class="col-sm-3"></div>
    </div>
    <br>
</div>

<div class="row light_color">
    <div class="container-fluid">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <h3 class="text-center alt_font_color_dark"><strong>Follow the cavnessHR Blog</strong></h3>
            <a href="https://cavnesshr.silvrback.com/"><i class="" style="font-size:36px"></i>cavnessHR Blog</a>
        <div class="col-sm-3"></div>
    </div>
</div>