
<!-- Row one -->
<div class="row banner_left">
        <div class="col-sm-4">
            <a href=""><img src="{{@BASE}}/app/views/images/click_button_2.png" class="img-responsive pull-right" alt=""></a>
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-7">
            <br>
            <br>
            <br>
            <br>
            <h2>cavnessHR</h2>
            <p>We provide great HR for all Founders, new business owners and companies
                with less than 50 employees to assist in growing their business and to
                assist in decreasing the percentage of new business failures.</p>
        </div>

</div>
<!-- Row two -->
<div class="row light_color">
    <div class="container-fluid">

        <div class="col-sm-offset-1 col-sm-4">
            <h2 class="text-center alt_font_color_dark">Who are we?</h2>
            <br>
            <p>cavnessHR makes HR easy and delivers high quality HR products and services.
                We add value by taking care of the HR business function while continuing
                to maintain their own values.</p>
            <p>
                Grow the business, Culture, Build a great and diverse team,
                Employer Branding, Employee engagement and empowerment,
                Compensation, Benefits, Compliance, and Performance Discussions
            </p>
        </div>

        <div class="col-sm-offset-1 col-sm-3 col-sm-offset-1">
            <h2 class="text-left alt_font_color_dark">What we offer</h2>
            <br>
            <p><h4>Job Descriptions</h4></p>
            <p><h4>Salary and Compensation</h4></p>
            <p><h4>Employee Handbook</h4></p>
            <p><h4>HR Policies</h4></p>
            <p><h4>Compliance</h4></p>
            <p><h4>HR Discussions</h4></p>


        </div>

        <div class="col-sm-2 ">
            <h2 class="text-center alt_font_color_dark">HR Newsletter</h2>

            <form>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="name" class="form-control" id="name">
                </div>

                <div class="form-group">
                    <label for="email">Email address:</label>
                    <input type="email" class="form-control" id="email">
                </div>
                <button type="submit" class="btn btn-primary">SignUp</button>
            </form>
        </div>
    </div>
    <br>
</div>

<!-- Row Three -->
<div class="row alt_font_color_light ">
    <div class="col-sm-4 col_padding_zero_left">
        <img src="{{@BASE}}/app/views/images/placeholder_1.png" class="img-responsive" alt="">
    </div>

    <div class="col-sm-8">
        <br>
        <br>
        <br>
        <br>
        <h1>Lorem ipsum dolor sit amet...</h1>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Maecenas eu risus nisl. Aenean consectetur eget felis at
            tempus. Quisque accumsan, leo sed laoreet tempor, mauris
            dolor cursus purus, quis blandit dolor orci at ipsum.
            Phasellus vulputate nisl tellus. Praesent accumsan pretium
            purus lobortis tempus. Nam at faucibus purus. In eget
            sollicitudin velit. Mauris viverra varius tellus, sed
            condimentum nisi cursus a. Nullam tristique tellus dolor.
            Proin in diam nisi. Nullam quis augue quam. Integer cursus
            est mattis elit luctus viverra et sed turpis. Praesent id
            vestibulum dui, nec dignissim enim.</p>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Maecenas eu risus nisl. Aenean consectetur eget felis at
            tempus. Quisque accumsan, leo sed laoreet tempor, mauris
            dolor cursus purus, quis blandit dolor orci at ipsum.
            Phasellus vulputate nisl tellus. Praesent accumsan pretium
            purus lobortis tempus. Nam at faucibus purus. In eget
            sollicitudin velit. Mauris viverra varius tellus, sed
            condimentum nisi cursus a. Nullam tristique tellus dolor.
            Proin in diam nisi. Nullam quis augue quam. Integer cursus
            est mattis elit luctus viverra et sed turpis. Praesent id
            vestibulum dui, nec dignissim enim.</p>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Maecenas eu risus nisl. Aenean consectetur eget felis at
            tempus. Quisque accumsan, leo sed laoreet tempor, mauris
            dolor cursus purus, quis blandit dolor orci at ipsum.
            Phasellus vulputate nisl tellus. Praesent accumsan pretium
            purus lobortis tempus. Nam at faucibus purus. In eget
            sollicitudin velit. Mauris viverra varius tellus, sed
            condimentum nisi cursus a. Nullam tristique tellus dolor.
            Proin in diam nisi. Nullam quis augue quam. Integer cursus
            est mattis elit luctus viverra et sed turpis. Praesent id
            vestibulum dui, nec dignissim enim.</p>
    </div>
</div>