

<!-- cavnessHR Mission Statement page -->

<!-- Row one -->
<div class="row banner_left">
    <div class="col-sm-4">
        <a href=""><img src="{{@BASE}}/app/views/images/click_button_2.png" class="img-responsive pull-right" alt=""></a>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-7">
        <br>
        <br>
        <br>
        <br>
        <h2>cavnessHR</h2>
        <p>We provide great HR for all Founders, new business owners and companies
            with less than 50 employees to assist in growing their business and to
            assist in decreasing the percentage of new business failures.
        </p>
    </div>
</div>

<!-- Row two -->
<div class="row light_color">
    <div class="container-fluid">
        <br>
        <div class="col-sm-4">
            <img src="{{@BASE}}/app/views/images/hr_mission_image.jpg" class="img-responsive img-rounded" width="350" height="350" alt="">
        </div>
        
        <div class="col-sm-6">
            <h2 class="text alt_font_color_dark">cavnessHR Mission Statement</h2>
            <p><strong>cavnessHR</strong> delivers HR to Founders, new business owners and companies with less than
            50 employees until they bring in their own dedicated HR. cavnessHR makes HR easy and
            delivers high quality HR products and services. cavnessHR adds value by taking care of
            the HR business function while continuing to maintain their own values.
            </p>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <br>
</div>