<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="">
            <a href="../../../../index.php" class="navbar-left logo_margin"><img src="{{@BASE}}/app/views/images/logo_trans.png" alt="cavnessHR Logo" class="nav_image_size"></a>
        </div>

        <ul class="nav navbar-nav">

            <li><a href="{{@BASE}}/">Home</a></li>
            <li><a href="{{@BASE}}/mission">Mission Statement</a></li>
            <li><a href="{{@BASE}}/philosophy">HR Philosophy</a></li>
            <li><a href="{{@BASE}}/value">cavnessHR Values</a></li>
            <li><a href="https://cavnesshrblog.com">cavnessHR Blog</a></li>
            <li><a href="{{@BASE}}/products_services">HR Products and Services</a></li>
            <li><a href="{{@BASE}}/offer">What HR can Offer</a></li>
            <li><a href="{{@BASE}}/plan">HR Plan</a></li>
        </ul>
    </div>
</nav>
