<!-- Row one -->
<div class="row banner_left">
    <div class="col-sm-4">
        <a href=""><img src="{{@BASE}}/app/views/images/click_button_2.png" class="img-responsive pull-right" alt=""></a>
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-7">
        <h2>cavnessHR</h2>
        <p>We provide great HR for all Founders, new business owners and companies
            with less than 50 employees to assist in growing their business and to
            assist in decreasing the percentage of new business failures.</p>
    </div>

</div>

<!-- Row two -->
<div class="row light_color">
    <div class="container-fluid">
        <div class="col-sm-4">
            <a href=""><img src="{{@BASE}}/app/views/images/hr_image" class="img-responsive" width="300" height="300" alt=""></a>
        </div>

        <div class="col-sm-6">
            <h3 class="text alt_font_color_dark">What CavnessHR can offer</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cumque fuga iure iusto optio porro quis
                voluptates. Blanditiis cupiditate distinctio doloremque harum illo odio pariatur perspiciatis quo
                tenetur, ut voluptatum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cumque fuga iure
                iusto optio porro quis
                voluptates. Blanditiis cupiditate distinctio doloremque harum illo odio pariatur perspiciatis quo
                tenetur, ut voluptatum.

            </p>
        </div>
    </div>
</div>