

<!-- CavnessHR philosophy page -->

<!-- Row one -->
<div class="row banner_left">
        <div class="col-sm-4">
            <a href=""><img src="{{@BASE}}/app/views/images/click_button_2.png" class="img-responsive pull-right" alt=""></a>
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-7">
            <br>
            <br>
            <br>
            <br>
            <h2>cavnessHR</h2>
            <p>We provide great HR for all Founders, new business owners and companies
                with less than 50 employees to assist in growing their business and to
                assist in decreasing the percentage of new business failures.</p>
        </div>

</div>

<!-- Row two -->
<div class="row light_color">
    <div class="container-fluid">
        <div class="col-sm-4">
            <img src="{{@BASE}}/app/views/images/hr_philosophy_image.jpg" class="img-responsive img-rounded" width="275" height="275" alt="">
        </div>
        
        <div class="col-sm-6">
            <h2 class="text alt_font_color_dark">cavnessHR Philosopy</h2>
            <p><strong>cavnessHR philosophy is</strong> lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Sed pretium dolor varius arcu tempus, nec dignissim tellus tempus. Sed ut luctus justo,
            quis porta justo. Proin bibendum quam sed egestas egestas. Nulla tempus posuere congue.
            Quisque feugiat ipsum vel sem rutrum, maximus posuere nulla scelerisque. Mauris malesuada
            enim turpis, venenatis laoreet tortor scelerisque non. Donec blandit tortor et nibh pulvinar
            facilisis. Maecenas maximus nisl fringilla, feugiat sapien viverra, facilisis eros. In at
            tristique ligula. Vivamus sollicitudin, lectus at mattis egestas, arcu libero facilisis nibh,
            a facilisis tortor erat eu odio. Nam vel est hendrerit, scelerisque sem facilisis, congue augue.
            Aliquam erat volutpat.
            </p>
            <br>
            <li>Understand the supported business​</li>
            <li>Understand what the supported business requires​</li>
            <li>Understand the environment in which the supported business operates</li>
            <li>Spend time with the supported company​</li>
            <li>Be responsive to the needs of the supported company​​</li>
            </p>
        </div>
    </div>
    <div class="col-sm-2"></div>
    <br>
    <br>
    <br>
    <br>

<div class="row light_color">
    <div class="container-fluid">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
        <!-- 
            <h2 class="text-center alt_font_color_dark">Follow the cavnessHR Blog</h2>
            <a href="https://cavnesshr.silvrback.com/"><i class="" style="font-size:36px"></i>cavnessHR Blog</a>
        -->
        <div class="col-sm-3"></div>
    </div>
</div>