

<!-- McavnessHR value page -->

<!-- Row one -->
<div class="row banner_left">
        <div class="col-sm-4">
            <a href=""><img src="{{@BASE}}/app/views/images/click_button_2.png" class="img-responsive pull-right" alt=""></a>
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-7">
            <br>
            <br>
            <br>
            <br>
            <h2>cavnessHR</h2>
            <p>We provide great HR for all Founders, new business owners and companies
                with less than 50 employees to assist in growing their business and to
                assist in decreasing the percentage of new business failures.</p>
        </div>

</div>

<!-- Row two -->
<div class="row light_color">
    <div class="container-fluid">
        <div class="col-sm-4">
            <a href=""><img src="{{@BASE}}/app/views/images/hr_image.jpg" class="img-responsive" width="300" height="300" alt=""></a>
        </div>
       
        <div class="col-sm-6">
            <h2 class="text alt_font_color_dark">cavnessHR Values</h2>
            <p><strong>cavnessHR</strong> will provide value to Founders, new
            business owners and companies with less than 50 employees by assisting them with
            their HR and helping to solve other problems.
            </p>
            <br>
            <ul>Treat all people with dignity and respect</ul>
            <ul>Be a valued member of the community</ul>
            <ul>Add value and help solve problems</ul>
            <ul>Take care of employees and customers</ul>
            <ul>Be empathetic</ul>
            <ul>Celebrate wins and learn from losses</ul>
            <ul>Have fun</ul>
            <ul>Believe in yourself and those around you</ul>
            <ul>Have balance</ul>
            <ul>Be transparent</ul>
            <ul>Listen to understand and not to answer</ul>
            <ul>What are you doing to improve yourself?</ul>
            <ul>Always be honest - no sugar coating</ul>
            <ul>On time</ul>
            <ul>Communicate well with others</ul>
            <ul>Make a contribution - every day</ul>
            <ul>Make someone better - every day</ul>
            <br>
            <h4 class="text alt_font_color_dark">How can cavnessHR add value to your business?</h4>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <br>
    <br>
</div>    

<div class="row light_color">
    <div class="container-fluid">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
        <!-- 
            <h2 class="text-center alt_font_color_dark">Follow the cavnessHR Blog</h2>
            <a href="https://cavnesshr.silvrback.com/"><i class="" style="font-size:36px"></i>cavnessHR Blog</a>
        -->
        <div class="col-sm-3"></div>
    </div>
</div>