<!-- Row one -->
<div class="row alt_font_color_light banner_default banner_back pannel_padding">
    <div class="container-fluid justify-content-center ">
        <div class="col-md-offset-1 col-md-6 hidden-xs hidden-sm">

            <img class="img-responsive" src="{{@BASE}}/app/views/images/white_logo_banner.png" alt="cavnessHR: cavnessHR delivers value to Founders, new business owners and companies with less than 50 employees. ">
        </div>
        <div class="col-md-offset-1 col-md-3 col-sm-offset-3 col-sm-6 col-xs-12 dark_color info_box internal_padding">
            <h2>Getting started.</h2>
            <p><strong>cavnessHR</strong> is ready to work with you to add value to your business. </p>
            <br>
            <a href="{{@BASE}}/contact" class="btn btn-warning center-block ">Contact Us</a>
            <br>
        </div>
    </div>
</div>

<!-- Row Two -->
<div class="row light_color alt_font_color_dark font_size_med">
    <br> <br>
    <div class="col-md-offset-1 col-md-5">
        <div class="row">
            <div class="col-xs-12">
                <div class="alt_font_color_light base_color header_style">
                    <h2 class="text-center inner_padding">Vision</h2>
                </div>
                <p><strong>cavnessHR</strong> delivers great HR to every company with less than 50 employees in the U.S to assist in growing their business and to assist in decreasing the percentage of business failures.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="alt_font_color_light base_color header_style">
                    <h2 class="text-center inner_padding">About Us</h2>
                </div>
                <p>
                    <strong>At cavnessHR we are transforming how HR is delivered to companies with less than 50 employees. </strong>
                    <strong>cavnessHR</strong> will deliver great HR to small business after they have obtained product/market fit.
                    <strong>cavnessHR</strong> will deliver great HR to small companies at a cost that is not averse to them.
                    <strong>cavnessHR</strong> will be the company every business with less than 50 employees in the U.S. uses for their HR.
                </p>
                <p>
                    Around 543,000 new businesses start in the U.S. each month. According to the Small Business Administration there are over 5 million small businesses in the U.S. These businesses account for the employment of over 31 million people and over 1,154,769,764
                    ($1,000) in annual payroll. To break this down further, businesses with less than 20 workers make up 89.6 percent of small businesses.
                </p>
                <p>
                    There is a misconception that most companies have HR. Either through a dedicated HR person or by using a HR Consultant. However, most small companies do not have anyone dedicated to conduct the HR Business function for them.
                </p>
                <p>
                    One reason for most small companies not having dedicated HR is the cost associated. The cost for an internal HR person can be from $50,000 to $100,000 or more per year. You then have HR Consultants who charge from $150 to $400 or more per hour. Both current
                    options are cost prohibitive to small businesses. Which is one of the reasons why small business owners make the decision not to bring on HR. New businesses cannot afford the high cost of HR as it is currently delivered.
                </p>
                <p>
                    This places them at risk for various compliance challenges and places them at risk for not being able to scale when performance levels and efficiency are required by larger operational demands. This also places them at risk for not paying their employees
                    correctly (either too high or too low). These are just some of the risks small companies take by not having HR.
                </p>
                <p>
                    Currently HR is now delivered to small businesses by high interaction and high touch points. We believe that great HR can be delivered to small businesses without a high interaction between the small business and <strong>cavnessHR</strong>                    while still providing great customer service. <strong>cavnessHR</strong> will deliver great HR through a cloud based system that will allow for the minimal amount of interaction possible.
                </p>
            </div>
        </div>
        <br><br>

    </div>

    <div class="col-md-offset-1 col-md-4">
        <div class="row">
            <div class="col-md-12">
                <div class="alt_font_color_light base_color header_style">
                    <h2 class="text-center inner_padding">Mission Statement</h2>
                </div>

                <p><strong>cavnessHR</strong> delivers HR to Founders, new business owners and companies with less than 50 employees.
                    <strong>cavnessHR</strong> makes HR easy and delivers high quality HR products and services.<strong>  cavnessHR</strong> adds value by taking care of the HR business function while continuing to maintain their own values.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="alt_font_color_light base_color header_style">
                    <h2 class="text-center inner_padding">Philosophy</h2>
                </div>
                <ul>
                    <li>Understand the supported business</li>
                    <li>Understand what the supported business requires​</li>
                    <li>Understand the environment in which the supported business operates</li>
                    <li>Spend time with the supported company</li>
                    <li>Be responsive to the needs of the supported company​​</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="alt_font_color_light base_color header_style">
                    <h2 class="text-center inner_padding">Values</h2>
                </div>
                <ul>
                    <li>Treat all people with dignity and respect</li>
                    <li>Be a valued member of the community</li>
                    <li>Add value and help to solve problems daily</li>
                    <li>Take care of employees and customers</li>
                    <li>Be empathetic</li>
                    <li>Celebrate wins and learn from losses</li>
                    <li>Have fun</li>
                    <li>Believe in yourself and those around you</li>
                    <li>Be transparent</li>
                    <li>Listen to understand and not to answer</li>
                    <li>Improve yourself and help to improve others daily</li>
                    <li>Always be honest - no sugar coating</li>
                    <li>On time</li>
                    <li>Communicate well with others</li>
                    <li>Make a contribution every day</li>
                </ul>
                <br>
            </div>
        </div>
    </div>
</div>
