<div style="padding: 3rem 1rem">
    <form class="well center-block" style="max-width: 35rem" action="{{@BASE}}/login" method="POST" role="form">
        

        <div class="form-group input-group col-lg-12">
            <h3 class="text-center">Thank You!</h3>
            <br>
            <h4 class="text-center" id="confirm_message">{{@confirm_message}}</h4>
        </div>
        <div>
            <a href="{{@BASE}}/home" class="btn btn-warning center-block ">cavnessHR Home Page</a>
        </div>
    </form>
</div>

    







    
