<div class="row dark_color alt_font_color_light">
    <div class="col-md-12">
        <h1 class="text-center">Employee Handbook Form</h1>
    </div>
</div>

<form class="center-block" action="{{@BASE}}/submit_book_form"
      method="POST" role="form" id="handbook_form" enctype="multipart/form-data">

    <div  class="row alt_font_color_dark" id="page0">
        <br>
            <div class="col-md-offset-1 col-md-4">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="company_name">Company Name: </label>
                            <input type="text" class="form-control" id="company_name" name="company_name">
                            <div class="alert alert-danger">
                                <strong>Error: </strong><span id="company-name-error"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="company_contact">Point of Contact:</label>
                            <input type="text" class="form-control" id="company_contact" name="company_contact">
                            <div class="alert alert-danger">
                                <strong>Error: </strong><span id="company-contact-error"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="company_email">Contact Email:</label>
                            <input type="email" class="form-control" id="company_email" name="company_email">
                            <div class="alert alert-danger">
                                <strong>Error: </strong><span id="contact-email-error"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="workdays">Normal Work Days:</label><br>
                            <input type="checkbox" id="workdays" name="monday" value="monday">Monday<br><br>
                            <input type="checkbox" id="workdays" name="monday" value="monday">Tuesday<br><br>
                            <input type="checkbox" id="workdays" name="monday" value="monday">Wednesday<br><br>
                            <input type="checkbox" id="workdays" name="monday" value="monday">Thursday<br><br>
                            <input type="checkbox" id="workdays" name="monday" value="monday">Friday<br><br>
                            <input type="checkbox" id="workdays" name="monday" value="monday">Saterday<br><br>
                            <input type="checkbox" id="workdays" name="monday" value="monday">Sunday<br>
                        </div>
                    </div><!-- Days of the Week-->

                    <div class="col-md-3 ">
                        <div class="row">
                            <div class="form-group">
                                <label for="start_time">Start:</label><br>
                                <select name="start_hours">
                                    <option value="01">01</option>
                                    <option value="02">02</option>
                                    <option value="03">03</option>
                                    <option value="04">04</option>
                                    <option value="05">05</option>
                                    <option value="06">06</option>
                                    <option value="07">07</option>
                                    <option value="08">08</option>
                                    <option value="09">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select> :
                                <select name="start_minutes">
                                    <option value="00">00</option>
                                    <option value="05">05</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                    <option value="25">25</option>
                                    <option value="30">30</option>
                                    <option value="35">35</option>
                                    <option value="40">40</option>
                                    <option value="45">45</option>
                                    <option value="50">50</option>
                                    <option value="55">55</option>
                                </select> -
                                <select name="am_pm">
                                <option value="AM">AM</option>
                                <option value="PM">PM</option>
                                </select>
                                <br><br>
                                <select name="start_hours">
                                    <option value="01">01</option>
                                    <option value="02">02</option>
                                    <option value="03">03</option>
                                    <option value="04">04</option>
                                    <option value="05">05</option>
                                    <option value="06">06</option>
                                    <option value="07">07</option>
                                    <option value="08">08</option>
                                    <option value="09">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select> :
                                <select name="start_minutes">
                                    <option value="00">00</option>
                                    <option value="05">05</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                    <option value="25">25</option>
                                    <option value="30">30</option>
                                    <option value="35">35</option>
                                    <option value="40">40</option>
                                    <option value="45">45</option>
                                    <option value="50">50</option>
                                    <option value="55">55</option>
                                </select> -
                                <select name="am_pm">
                                    <option value="AM">AM</option>
                                    <option value="PM">PM</option>
                                </select>
                                <br><br>
                                <select name="start_hours">
                                    <option value="01">01</option>
                                    <option value="02">02</option>
                                    <option value="03">03</option>
                                    <option value="04">04</option>
                                    <option value="05">05</option>
                                    <option value="06">06</option>
                                    <option value="07">07</option>
                                    <option value="08">08</option>
                                    <option value="09">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select> :
                                <select name="start_minutes">
                                    <option value="00">00</option>
                                    <option value="05">05</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                    <option value="25">25</option>
                                    <option value="30">30</option>
                                    <option value="35">35</option>
                                    <option value="40">40</option>
                                    <option value="45">45</option>
                                    <option value="50">50</option>
                                    <option value="55">55</option>
                                </select> -
                                <select name="am_pm">
                                    <option value="AM">AM</option>
                                    <option value="PM">PM</option>
                                </select>
                                <br><br>
                                <select name="start_hours">
                                    <option value="01">01</option>
                                    <option value="02">02</option>
                                    <option value="03">03</option>
                                    <option value="04">04</option>
                                    <option value="05">05</option>
                                    <option value="06">06</option>
                                    <option value="07">07</option>
                                    <option value="08">08</option>
                                    <option value="09">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select> :
                                <select name="start_minutes">
                                    <option value="00">00</option>
                                    <option value="05">05</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                    <option value="25">25</option>
                                    <option value="30">30</option>
                                    <option value="35">35</option>
                                    <option value="40">40</option>
                                    <option value="45">45</option>
                                    <option value="50">50</option>
                                    <option value="55">55</option>
                                </select> -
                                <select name="am_pm">
                                    <option value="AM">AM</option>
                                    <option value="PM">PM</option>
                                </select>
                                <br><br>
                                <select name="start_hours">
                                    <option value="01">01</option>
                                    <option value="02">02</option>
                                    <option value="03">03</option>
                                    <option value="04">04</option>
                                    <option value="05">05</option>
                                    <option value="06">06</option>
                                    <option value="07">07</option>
                                    <option value="08">08</option>
                                    <option value="09">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select> :
                                <select name="start_minutes">
                                    <option value="00">00</option>
                                    <option value="05">05</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                    <option value="25">25</option>
                                    <option value="30">30</option>
                                    <option value="35">35</option>
                                    <option value="40">40</option>
                                    <option value="45">45</option>
                                    <option value="50">50</option>
                                    <option value="55">55</option>
                                </select> -
                                <select name="am_pm">
                                    <option value="AM">AM</option>
                                    <option value="PM">PM</option>
                                </select>
                                <br><br>
                                <select name="start_hours">
                                    <option value="01">01</option>
                                    <option value="02">02</option>
                                    <option value="03">03</option>
                                    <option value="04">04</option>
                                    <option value="05">05</option>
                                    <option value="06">06</option>
                                    <option value="07">07</option>
                                    <option value="08">08</option>
                                    <option value="09">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select> :
                                <select name="start_minutes">
                                    <option value="00">00</option>
                                    <option value="05">05</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                    <option value="25">25</option>
                                    <option value="30">30</option>
                                    <option value="35">35</option>
                                    <option value="40">40</option>
                                    <option value="45">45</option>
                                    <option value="50">50</option>
                                    <option value="55">55</option>
                                </select> -
                                <select name="am_pm">
                                    <option value="AM">AM</option>
                                    <option value="PM">PM</option>
                                </select>
                                <br><br>
                                <select name="start_hours">
                                    <option value="01">01</option>
                                    <option value="02">02</option>
                                    <option value="03">03</option>
                                    <option value="04">04</option>
                                    <option value="05">05</option>
                                    <option value="06">06</option>
                                    <option value="07">07</option>
                                    <option value="08">08</option>
                                    <option value="09">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select> :
                                <select name="start_minutes">
                                    <option value="00">00</option>
                                    <option value="05">05</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                    <option value="25">25</option>
                                    <option value="30">30</option>
                                    <option value="35">35</option>
                                    <option value="40">40</option>
                                    <option value="45">45</option>
                                    <option value="50">50</option>
                                    <option value="55">55</option>
                                </select> -
                                <select name="start_am_pm">
                                    <option value="AM">AM</option>
                                    <option value="PM">PM</option>
                                </select>
                            </div>
                        </div>

                    </div><!-- Start Time -->



                    <div class="col-md-offset-1 col-md-3">
                        <div class="row">
                            <div class="form-group">
                                <label for="end_time">End:</label><br>
                                <select name="end_hours">
                                    <option value="01">01</option>
                                    <option value="02">02</option>
                                    <option value="03">03</option>
                                    <option value="04">04</option>
                                    <option value="05">05</option>
                                    <option value="06">06</option>
                                    <option value="07">07</option>
                                    <option value="08">08</option>
                                    <option value="09">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select> :
                                <select name="end_minutes">
                                    <option value="00">00</option>
                                    <option value="05">05</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                    <option value="25">25</option>
                                    <option value="30">30</option>
                                    <option value="35">35</option>
                                    <option value="40">40</option>
                                    <option value="45">45</option>
                                    <option value="50">50</option>
                                    <option value="55">55</option>
                                </select> -
                                <select name="end_am_pm">
                                    <option value="AM">AM</option>
                                    <option value="PM">PM</option>
                                </select>
                                <br><br>
                                <select name="start_hours">
                                    <option value="01">01</option>
                                    <option value="02">02</option>
                                    <option value="03">03</option>
                                    <option value="04">04</option>
                                    <option value="05">05</option>
                                    <option value="06">06</option>
                                    <option value="07">07</option>
                                    <option value="08">08</option>
                                    <option value="09">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select> :
                                <select name="start_minutes">
                                    <option value="00">00</option>
                                    <option value="05">05</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                    <option value="25">25</option>
                                    <option value="30">30</option>
                                    <option value="35">35</option>
                                    <option value="40">40</option>
                                    <option value="45">45</option>
                                    <option value="50">50</option>
                                    <option value="55">55</option>
                                </select> -
                                <select name="am_pm">
                                    <option value="AM">AM</option>
                                    <option value="PM">PM</option>
                                </select>
                                <br><br>
                                <select name="start_hours">
                                    <option value="01">01</option>
                                    <option value="02">02</option>
                                    <option value="03">03</option>
                                    <option value="04">04</option>
                                    <option value="05">05</option>
                                    <option value="06">06</option>
                                    <option value="07">07</option>
                                    <option value="08">08</option>
                                    <option value="09">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select> :
                                <select name="start_minutes">
                                    <option value="00">00</option>
                                    <option value="05">05</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                    <option value="25">25</option>
                                    <option value="30">30</option>
                                    <option value="35">35</option>
                                    <option value="40">40</option>
                                    <option value="45">45</option>
                                    <option value="50">50</option>
                                    <option value="55">55</option>
                                </select> -
                                <select name="am_pm">
                                    <option value="AM">AM</option>
                                    <option value="PM">PM</option>
                                </select>
                                <br><br>
                                <select name="start_hours">
                                    <option value="01">01</option>
                                    <option value="02">02</option>
                                    <option value="03">03</option>
                                    <option value="04">04</option>
                                    <option value="05">05</option>
                                    <option value="06">06</option>
                                    <option value="07">07</option>
                                    <option value="08">08</option>
                                    <option value="09">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select> :
                                <select name="start_minutes">
                                    <option value="00">00</option>
                                    <option value="05">05</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                    <option value="25">25</option>
                                    <option value="30">30</option>
                                    <option value="35">35</option>
                                    <option value="40">40</option>
                                    <option value="45">45</option>
                                    <option value="50">50</option>
                                    <option value="55">55</option>
                                </select> -
                                <select name="am_pm">
                                    <option value="AM">AM</option>
                                    <option value="PM">PM</option>
                                </select>
                                <br><br>
                                <select name="start_hours">
                                    <option value="01">01</option>
                                    <option value="02">02</option>
                                    <option value="03">03</option>
                                    <option value="04">04</option>
                                    <option value="05">05</option>
                                    <option value="06">06</option>
                                    <option value="07">07</option>
                                    <option value="08">08</option>
                                    <option value="09">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select> :
                                <select name="start_minutes">
                                    <option value="00">00</option>
                                    <option value="05">05</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                    <option value="25">25</option>
                                    <option value="30">30</option>
                                    <option value="35">35</option>
                                    <option value="40">40</option>
                                    <option value="45">45</option>
                                    <option value="50">50</option>
                                    <option value="55">55</option>
                                </select> -
                                <select name="am_pm">
                                    <option value="AM">AM</option>
                                    <option value="PM">PM</option>
                                </select>
                                <br><br>
                                <select name="start_hours">
                                    <option value="01">01</option>
                                    <option value="02">02</option>
                                    <option value="03">03</option>
                                    <option value="04">04</option>
                                    <option value="05">05</option>
                                    <option value="06">06</option>
                                    <option value="07">07</option>
                                    <option value="08">08</option>
                                    <option value="09">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select> :
                                <select name="start_minutes">
                                    <option value="00">00</option>
                                    <option value="05">05</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                    <option value="25">25</option>
                                    <option value="30">30</option>
                                    <option value="35">35</option>
                                    <option value="40">40</option>
                                    <option value="45">45</option>
                                    <option value="50">50</option>
                                    <option value="55">55</option>
                                </select> -
                                <select name="am_pm">
                                    <option value="AM">AM</option>
                                    <option value="PM">PM</option>
                                </select>
                                <br><br>
                                <select name="start_hours">
                                    <option value="01">01</option>
                                    <option value="02">02</option>
                                    <option value="03">03</option>
                                    <option value="04">04</option>
                                    <option value="05">05</option>
                                    <option value="06">06</option>
                                    <option value="07">07</option>
                                    <option value="08">08</option>
                                    <option value="09">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select> :
                                <select name="start_minutes">
                                    <option value="00">00</option>
                                    <option value="05">05</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                    <option value="25">25</option>
                                    <option value="30">30</option>
                                    <option value="35">35</option>
                                    <option value="40">40</option>
                                    <option value="45">45</option>
                                    <option value="50">50</option>
                                    <option value="55">55</option>
                                </select> -
                                <select name="am_pm">
                                    <option value="AM">AM</option>
                                    <option value="PM">PM</option>
                                </select>
                            </div>
                        </div>

                    </div><!-- End Time -->
                </div>
                <br>
            </div><!-- left -->

            <div class="col-md-offset-1 col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="company_logo">Upload Company Logo</label>
                            <input class="form-control" name="company_logo" id="company_logo" type="file">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="company_intro">Company Introduction:</label><span> (?)</span>
                            <textarea class="form-control" rows="5" name="company_intro" id="company_intro"></textarea>
                            <div class="alert alert-danger">
                                <strong>Error: </strong><span id="company-intro-error"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="workdays">Normal Work Days:</label><br>
                            <input type="checkbox" id="workdays" name="monday" value="monday">Monday<br><br>
                        </div>
                    </div>
                </div>

            </div><!-- right -->
    </div><!-- Page 1 -->

    <div  class="row alt_font_color_dark hiddenPanel" id="page1">
        <div class="col-md-12">
            page1
        </div>
    </div><!-- Page 2 -->

    <div  class="row alt_font_color_dark hiddenPanel" id="page2">
        <div class="col-md-12">
            page2
        </div>
    </div><!-- Page 3 -->

    <div  class="row alt_font_color_dark hiddenPanel" id="page3">
        <div class="col-md-12">
            page3
        </div>
    </div><!-- Page 4 -->

    <div  class="row alt_font_color_dark hiddenPanel" id="page4">
        <div class="col-md-12">
            page4
        </div>
    </div><!-- Page 5 -->

    <div  class="row alt_font_color_dark hiddenPanel" id="page5">
        <div class="col-md-12">
            page5
        </div>
    </div><!-- Page 6 -->

    <div  class="row alt_font_color_dark hiddenPanel" id="page6">
        <div class="col-md-12">
            page6
        </div>
    </div><!-- Page 7 -->

    <div  class="row alt_font_color_dark hiddenPanel" id="page7">
        <div class="col-md-12">
            page7
        </div>
    </div><!-- Page 8 -->



    <div class="row">
        <div class="col-md-offset-1 col-md-4">
            <button id="previous" type="button" class="btn btn-warning">Previous</button>
        </div>
        <div class="col-md-5">
            <button id="next" type="button" class="btn btn-warning pull-right">Next</button>
        </div>
    </div>
</form>