<!-- Row one -->
<div class="row alt_font_color_light banner_default banner_back pannel_padding">
    <div class="container-fluid justify-content-center">
        <div class="col-md-offset-1 col-md-6 hidden-xs hidden-sm">

            <img class="img-responsive" src="{{@BASE}}/app/views/images/white_logo_banner.png" alt="cavnessHR: cavnessHR delivers value to Founders, new business owners and companies with less than 50 employees. ">
        </div>
    </div>
</div>

<!-- Row two -->
<div class="row light_color justify-content-center pannel_padding alt_font_color_dark">
    <div class="col-md-offset-1 col-md-3 font_size_lg">
        <div class="alt_font_color_light base_color header_style"><h2 class="text-center inner_padding">What we do</h2></div>
        <br>

        <p><strong>cavnessHR</strong> delivers HR to Founders, new business owners and
            companies with less than 50 employees. <strong>cavnessHR</strong> adds value by taking care of the HR
            business function while continuing to maintain their own values.</p>


    </div>

    <div class="visible-xs hidden-sm">
        <hr>
    </div>

    <div class="col-md-offset-1 col-md-2 text-center font_size_lg ">
        <div class="alt_font_color_light base_color header_style"><h2 class="text-center inner_padding">What we offer</h2></div>

        <br>
        <ul class="text-left">
            <li>Job Descriptions</li>
            <li>Salary and Compensation</li>
            <li>Employee Handbook</li>
            <li>HR Policies</li>
            <li>Compliance</li>
            <li>HR Discussions</li>
            <li>HRM/HRIS Recommendations</li>
            <li>Payroll/Benefits Recommendations</li>
        </ul>


    </div>

    <div class="visible-xs hidden-sm">
        <hr>
    </div>

    <div class="col-md-offset-1 col-md-3">
        <div class="alt_font_color_light base_color header_style"><h2 class="text-center inner_padding">HR Laws</h2></div>

        <p>HR Laws that small businesses need to know.</p>

        <form action="{{@BASE}}/mail" method="post">
            <div class="form-group">
                <label for="name">Name <span class="red">*</span></label>
                <input type="text" class="form-control" id="name" autofocus name="name" required>
            </div>

            <div class="form-group">
                <label for="email">Email address <span class="red">*</span></label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>

            <div class="form-group">
                <label for="location">Location <span class="red">*</span></label>
                <select class="form-control" id="location" name="location" required>
                    <option value="seattle">Seattle</option>
                    <option value="tacoma">Tacoma</option>
                    <option value="washington">Washington State</option>
                </select>
            </div>

            <div class="form-group">
                <label for="phone">Phone Number (Optional)</label>
                <input type="phone" class="form-control" id="phone" name="phone" placeholder="XXX-XXX-XXXX">
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-warning btn-block"
                >Send HR Laws</button>
            </div>


        </form>
    </div>
</div>

<!-- Row Three -->
<div class="row base_color alt_font_color_light">

    <div class="col-xs-12 col-sm-6 col-md-6 col_padding_zero_left col_padding_zero_right">
        <img src="{{@BASE}}/app/views/images/placeholder_7.jpg" class="img-responsive" alt="">
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 font_size_med">

        <div class="visible-lg hidden-md hidden-sm hidden-xs">
            <br><br><br><br><br>
        </div>


        <h1><strong>cavnessHR</strong> is transforming the way HR is delivered.</h1>
        <br>
        <p><strong>cavnessHR</strong> transforms the way HR is delivered in the small business market.
            <strong>cavnessHR</strong> will deliver great HR that is not cost averse to small business.
            <strong>cavnessHR</strong> will provide HR from after product/market fit until the small business
            hits the 50-employee mark.</p>

        <p><strong>cavnessHR</strong> delivers great HR to every company with less than 50 employees in the
            U.S to assist in growing their business and to assist in decreasing the
            percentage of business failures.</p>

    </div>
</div>
