<!-- Row one -->
<div class="row alt_font_color_light banner_default banner_back pannel_padding">
    <div class="container-fluid justify-content-center ">
        <div class="col-md-offset-1 col-md-6 hidden-xs hidden-sm">

            <img class="img-responsive" src="{{@BASE}}/app/views/images/white_logo_banner.png" alt="cavnessHR: cavnessHR delivers value to Founders, new business owners and companies with less than 50 employees. ">
        </div>
    </div>
</div>




<!-- Row Two -->
<div class="container text-center">
    <br> <br>
    <div class="col-lg-6 col-lg-offset-4">
            <div class="col-lg-6 text-center ">
                <div class="alt_font_color_light base_color header_style"><h2 class="text-center inner_padding">Partners</h2></div>          
            </div>
    </div>
</div>


     <div class="col-lg-6 ">
           <p><a href="https://www.bamboohr.com/" target="_blank"><img src="https://www.bamboohr.com/img/svg/BambooHRLogo.svg" alt="BambooHR - Easy-to-Use HR Software"></a></p>
     </div>


 <div class=" col-lg-offset-7">
        <a href="https://www.zanebenefits.com/" target="_blank"><img src="{{@BASE}}/app/views/images/zane_benefits.png" class="img-responsive" alt="Zane Benefits - A People Company"></a>
  </div>